[submodule "third_part/CLIB-TensorRT"]
	path = third_part/CLIB-TensorRT
	url = git@github.com:FasterProcess/CLIB-TensorRT.git
[submodule "third_part/Grounded_SAM2_opt"]
	path = third_part/Grounded_SAM2_opt
	url = git@github.com:FasterProcess/Grounded_SAM2_opt.git
[submodule "third_part/yolov11_tensorrt"]
	path = third_part/yolov11_tensorrt
	url = git@github.com:FasterProcess/yolov11_tensorrt.git
